<!-- <main class="text-gray-900 h-full">
  <div class="grid place-items-center min-h-[250px]">
    <div>
      <h2 class="text-xl font-bold">Message List</h2>
      <ul class="list-disc list-inside">
        <li *ngFor="let m of messages">{{ m.message }}</li>
      </ul>
    </div>
  </div>
</main>

<router-outlet></router-outlet> -->

<stackblitz-nx-angular-banner></stackblitz-nx-angular-banner>
<div class="body-min-height body-background">
  <router-outlet></router-outlet>
</div>
<stackblitz-nx-angular-footer></stackblitz-nx-angular-footer>
